* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

section,
header,
footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}